{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

<div class="row">
{% for a in vetAnotacoes %}
	    <div class="col s12 m6">
	      <div class="card">
	        <div class="card-image">
	          <img src="/static/fotos/{{a.foto}}">
	        </div>
	        <div class="card-content">
	        	<span class="card-title">{{a.titulo}}</span>
		          <p>{{a.texto}}</p>
	        </div>
	        <div class="card-action">
			    <a href="/excluir_anotacao/{{a.id}}">Excluir Anotação</a>
			    <a href="/tela_editar_anotacao/{{a.id}}">Editar Anotação</a>
	        </div>
	      </div>
	    </div>
{% endfor %}
</div>

{% endblock %}
