{% extends "base_administracao.html" %}

{% block title %} Cadastrar Notícia {% endblock %}

{% block content %}

<div class="row">
   	<form class="col s12" action="/administracao/cadastrar_noticia" method="post" enctype="multipart/form-data">
        <div class="row">
           <div class="input-field col s12">
              <select name="assunto">
                <option value="" disabled selected>Escolha o Assunto</option>
                {% for a in vetAssunto%}
                  	<option value="{{a.id}}">{{a.nome}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <input id="titulo" type="text" name="titulo" required>
              <label for="titulo">Insira o Título da Notícia</label>
            </div>
        </div>
       	<div class="row">
	        <div class="input-field col s12">
	        	<textarea id="texto" name="texto" class="materialize-textarea"></textarea>
	          	<label for="texto">Texto da Notícia</label>
	        </div>
	    </div>
        <div class="row">
           <div class="input-field col s12">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Escolha a Foto da Notícia</span>
                    <input type="file" id="foto" name="foto">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
            </div>
        </div>
        <blockquote>
           	<span id='message'></span>
        </blockquote>
        <button class="btn waves-effect waves-light" onclick="return validaNoticia(this)" type="submit">Cadastrar</button>
    </form>
</div>

{% endblock %}
