<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<nav>
    <div class="nav-wrapper #424242 grey darken-3">
      <a href="#" class="brand-logo">Cinema</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/gerenciar_filmes">Gerenciar Filmes</a></li>
        <li><a href="/gerenciar_sessoes">Gerenciar Sessões</a></li>
        <li><a href="/gerenciar_ingressos">Gerenciar Ingressos</a></li>
      </ul>
    </div>
  	</nav>
  	<div class="row">
	    <form class="col s12" action="/alterar_filme" method="post">
	      <div class="row">
	        <div class="input-field col s12">
	          <input id="titulo" type="text" class="validate" name="titulo" value="{{filme.titulo}}">
	          <label for="titulo">Título do Filme</label>
	        </div>
	      </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="genero" type="text" class="validate" name="genero" value="{{filme.genero}}">
            <label for="genero">Gênero do Filme</label>
          </div>
          <div class="input-field col s6">
            <input id="foto" type="text" class="validate" name="foto" value="{{filme.foto}}">
            <label for="foto">Nome do Arquivo de Foto</label>
          </div>
        </div>
	      <div class="row">
        	<div class="input-field col s12">
          		<textarea id="sinopse" class="materialize-textarea" name="sinopse">{{filme.sinopse}}</textarea>
          		<label for="sinopse">Sinopse do Filme</label>
        	</div>
      	</div>
	    <div class="row">
        	<div class="input-field col s6">
          		<input type="text" class="datepicker" id="dataInicio" name="dataInicio" value="{{filme.dataInicio}}">
          		<label for="dataInicio">Data de Inicio da Exibição</label>
        	</div>
        	<div class="input-field col s6">
          		<input type="text" class="datepicker" id="dataFim" name="dataFim" value="{{filme.dataFim}}">
          		<label for="dataFim">Data de Fim da Exibição</label>
        	</div>
      	</div>
        <input type="hidden" name="cod" value="{{filme.cod}}">
      	<button class="btn waves-effect waves-light" type="submit">Alterar</button>
	    </form>
  	</div>
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>	
	<script src="../static/app.js"></script>
	<!-- Materialize JS -->
  <script src="../static/materialize/js/materialize.js"></script>
</body>
</html>