<!DOCTYPE html>
<html >
<head>
    {% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- Materialize JS -->
    <script src="../static/materialize/js/materialize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="../static/js.js"></script>
    <title>
        {% block title %}
        {% endblock %} 
    </title>
    {% endblock %}
</head>
<body>
    <div id="nonFooter">

    <div id="header">
        <nav>
            <div class="nav-wrapper black">
                <a href="/" class="brand-logo">JN > Omelete</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if 'jornalista' in session['tipo'] or 'leitor' in session['tipo'] %}
                      <li><a href="/tela_editar_pessoa/{{session['login']}}">Editar minha Informações</a></li>
                      <li><a href="/excluir_pessoa/{{session['login']}}">Excluir Conta</a></li>
          					{% endif %}
                    {% if session['login'] %}
                      <li><a href="/logout">Logout</a></li>
                    {% else %}
                      <li><a href="/tela_login">Login</a></li>
                      <li><a href="/tela_cadastrar_pessoa">Cadastrar-se</a></li>
                    {% endif %}
                    <li>
                    	<nav>
          						    <div class="nav-wrapper black">
          						      	<form action="/procurar_noticias" autocomplete="off" method="post" enctype="multipart/form-data">
          						        	<div class="input-field">
          						          		<input id="busca" type="search" name="busca" onkeyup="" required>
          						          		<label class="label-icon" for="busca"><i class="material-icons">search</i></label>
          						          		<i class="material-icons" onclick=" return fechaTudo()">close</i>
          						        	</div>
          						    	</form>
                            <div class="collection" id="noticias"></div>
          						    </div>
          						</nav>
                </ul>
            </div>
        </nav>
    </div>

    <div id="content">
        {% block content %} {% endblock %}
    </div>

    </div>
    
    <div id="footer">
        <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">JN > Omelete</h5>
                <p class="grey-text text-lighten-4">Seu site de notícias do mundo do entretenimento.</p>
                  <form class="col s12" method="post" action="">
                    <div class="input-field col s12">
                      <input id="email" name="email" type="email" class="validate" style="color: white">
                      <label for="email" >Cadastre seu E-mail para receber as Notícias</label>
                      <span class="helper-text" data-error="Inválido" data-success="">Helper text</span>
                      <button class="btn waves-effect waves-light" onclick="return cadastraEmail()" type="submit">Cadastrar</button>
                    </div>
                  </form>
                  <span id='message'></span>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/">Página Inicial</a></li>                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Copyright
            </div>
          </div>
        </footer>       
    </div>
</body>
</html>